body {
    background: rgb(255, 255, 255);
}

.navbar {
    background-color: rgb(81, 152, 214); 
    border-radius: 0%;
    border: 0px;
}

.navbar .navbar-brand {
    color: #fff;
    padding-left: 90px;
    font-size: 22px;
}

.navbar .navbar-brand:hover {
    color: #fff;
    padding-left: 90px;
}

.navbar .navbar-toggle {
    color: #fff;
    background: rgba(255, 255, 255, 0);
}

.navbar .navbar-toggle:hover {
    color: rgb(255, 255, 255);
    background: rgb(255, 255, 255);
}

.navbar-toggle:focus {
    background: white !important;
}

.navbar-toggle .icon-bar {
    background: #fff !important;
}

.navbar-toggle:hover .icon-bar {
    background: rgb(116, 146, 202) !important;
}

#nav-button {
    color: rgba(255, 255, 255, 0.603);
}

#nav-button:hover {
    color: rgb(255, 255, 255);
    background: 0%;
}

#myNavbar{
    padding-right: 110px;
}

#id_name__contains{
    background: rgba(255, 255, 255, 0.274);
    border-color: rgb(214, 214, 214);
    width: 300px;
    border-radius: 1;
    border: 0px;
}

#id_name__contains:focus{
    background: rgba(255, 255, 255, 0.274);
    border-color: rgb(214, 214, 214);
    border: 0px;

}

.form-control {
    margin-left: 15px;
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: rgba(255, 255, 255, 0.924);
    background-color: #fff;
    background-image: none;
    border: 1px solid rgba(170, 170, 170, 0.678);
    border-radius: 3px;
    -webkit-box-shadow: inset 0 1px 1px rgba(151, 151, 151, 0.075);
    box-shadow: inset 0 1px 1px rgba(170, 169, 169, 0.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

#search-bar {
    padding-top: 8px;
}

.form-control::placeholder {
    color: rgba(255, 255, 255, 0.781);
}

#delete-btn {
    color: rgb(87, 87, 87);
}

#delete-btn:hover {
    color: rgba(233, 78, 78, 0.897);
}

.stress-column {
    align-items: left;
    padding-top: 5px;
    text-align: center;
    width: 8vw
}

.date-column {
    text-align: left;
    width: 16vw;
    margin-left: 20px;
}

.delete-column {
    text-align: middle;
    width: 8vw;
}

#add-student {
    margin-top: 5px;
    border-radius: 3px;
    border: 1px solid rgba(160, 160, 160, 0.603);
    height: 30px;
    color: rgba(119, 119, 119, 0.938);
}

#add-student::placeholder {
    color: rgba(143, 143, 143, 0);
}

.btn-save {
    padding-left: 15px;
    color: rgb(143, 143, 143);
    margin-left: -20px;
    padding-top: 0;
    padding-bottom: 0;
}

.btn-save:hover {
    color: #07538F;
    margin-left: -20px
}

h3, h4 {
    color: rgba(255, 255, 255, 0.904) !important;
}

.container-below {
    margin-top: 20px;
}


/* Login */

@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

*,*:before,*:after{box-sizing:border-box}

body{
  min-height:100vh;
  font-family: 'Raleway', sans-serif;
}

.container{
  position:absolute;
  width:100%;
  height:100%;
  overflow:hidden;
  
  &:hover,&:active{
    .top, .bottom{
      &:before, &:after{
        margin-left: 200px;
        transform-origin: -200px 50%;
        transition-delay:0s;
      }
    }
    
    .center{
      opacity:1;
      transition-delay:0.2s;
    }
  }
}

.top, .bottom{
  &:before, &:after{
    content:'';
    display:block;
    position:absolute;
    width:200vmax;
    height:200vmax;
    top:50%;left:50%;
    margin-top:-100vmax;
    transform-origin: 0 50%;
    transition:all 0.5s cubic-bezier(0.445, 0.05, 0, 1);
    z-index:10;
    opacity:0.65;
    transition-delay:0.2s;
  }
}

.top{
  &:before{transform:rotate(45deg);background:#e46569;}
  &:after{transform:rotate(135deg);background:#ecaf81;}
}

.bottom{
  &:before{transform:rotate(-45deg);background:#60b8d4;}
  &:after{transform:rotate(-135deg);background:#3745b5;}
}

.center{
  position:absolute;
  width:400px;
  height:400px;
  top:50%;left:50%;
  margin-left:-200px;
  margin-top:-200px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding:30px;
  opacity:0;
  transition:all 0.5s cubic-bezier(0.445, 0.05, 0, 1);
  transition-delay:0s;
  color:#333;
  
  input{
    width:100%;
    padding:15px;
    margin:5px;
    border-radius:1px;
    border:1px solid #ccc;
    font-family:inherit;
  }
}

