{% load static %}
{% load bootstrap3 %}

<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		{% bootstrap_css %}
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="Item hover effects that reveal a colored stack behind the hovered item" />
		<meta name="keywords" content="hover effect, reveal, hover, css, animations, anime.js, javascript, motion, ux" />
		<meta name="author" content="Codrops" />
		<link rel="shortcut icon" href="favicon.ico">
		<link href="https://fonts.googleapis.com/css?family=Overpass+Mono:400,700" rel="stylesheet">
		
		<link rel="stylesheet" type="text/css" href="{% static 'dashboard/css/normalize.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'dashboard/css/demo.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'dashboard/css/demo_search.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'dashboard/css/style1.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'dashboard/css/update.css' %}">
		<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<script src="{% static 'dashboard/js/charts.js' %}"></script>
		
		<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"> -->
		<script>document.documentElement.className ='js';</script>
		<style>
			.nav-tabsx > li {
				float:none;
				display:inline-block;
				zoom:1;
				border: 0px;
				margin-right: 2em;
				padding-left: 0.5em;
				padding-right: 0.5em;
			}

			.nav-tabsx > li > a {
				float:none;
				display:inline-block;
				zoom:1;
			}

			.nav-tabsx > li > a:hover {
				float:none;
				display:inline-block;
				zoom:1;
				color: rgb(230, 43, 43);
			}

			.nav-tabsx {
				text-align:center;

			}

			/* Style the buttons inside the tab */
			.nav-tabsx > li > button {
				background: rgba(255, 0, 0, 0);
				color: rgba(144, 144, 144, 0.822);
				float: none;
				border: none;
				outline: none;
				cursor: pointer;
				padding: 14px 16px;
				transition: 0.3s;
				font-size: 17px;
			}

			/* Change background color of buttons on hover */
			.tab button:hover {
				background-color: rgba(221, 221, 221, 0);
				
			}

			.nav-tabsx > li > button.active {
				background-color: rgba(204, 204, 204, 0);
				color: white;
			}

			.tabcontent {
			}

		</style>
	</head>
	<body class="demo-1">
			
		<svg class="hidden">
				<symbol id="icon-arrow" viewBox="0 0 24 24">
						<title>arrow</title>
						<polygon points="6.3,12.8 20.9,12.8 20.9,11.2 6.3,11.2 10.2,7.2 9,6 3.1,12 9,18 10.2,16.8 "/>
					</symbol>
			<symbol id="icon-drop" viewBox="0 0 24 24">
				<title>drop</title>
				<path d="M12,21c-3.6,0-6.6-3-6.6-6.6C5.4,11,10.8,4,11.4,3.2C11.6,3.1,11.8,3,12,3s0.4,0.1,0.6,0.3c0.6,0.8,6.1,7.8,6.1,11.2C18.6,18.1,15.6,21,12,21zM12,4.8c-1.8,2.4-5.2,7.4-5.2,9.6c0,2.9,2.3,5.2,5.2,5.2s5.2-2.3,5.2-5.2C17.2,12.2,13.8,7.3,12,4.8z"/><path d="M12,18.2c-0.4,0-0.7-0.3-0.7-0.7s0.3-0.7,0.7-0.7c1.3,0,2.4-1.1,2.4-2.4c0-0.4,0.3-0.7,0.7-0.7c0.4,0,0.7,0.3,0.7,0.7C15.8,16.5,14.1,18.2,12,18.2z"/>
			</symbol>
			<symbol id="icon-search" viewBox="0 0 24 24">
					<title>search</title>
					<path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"/>
			</symbol>
			<symbol id="icon-cross" viewBox="0 0 24 24">
				<title>cross</title>
				<path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/>
			</symbol>
		</svg>
		<main>
			<header class="codrops-header" style="color: red">
				<h1 class="codrops-header__title"><a href="{% url 'classifier' %}" style="color: #ffffff;">Stretection</a></h1>
				<div class="codrops-links">
						<!-- <a class="codrops-icon codrops-icon--prev" href="#" title="Previous Demo"><svg class="icon icon--arrow"><use xlink:href="#icon-arrow"></use></svg></a>
						<a class="codrops-icon codrops-icon--drop" href="#" title="Back to the article"><svg class="icon icon--drop"><use xlink:href="#icon-drop"></use></svg></a> -->
				</div>
				<div class="search-wrap">
						<button id="btn-search" class="btn btn--search"><svg class="icon icon--search"><use xlink:href="#icon-search"></use></svg></button>
				</div>
				<p class="codrops-header__tagline"></a></p>

				<!-- <p class="codrops-header__tagline">Team 9</p> -->

				{% if school %}
					<form action="{% url 'add-class' %}" method="POST" name="Input">
						{% csrf_token %}
						<input type="text" name="class" id="add-student" placeholder="Add class">
					</form>
				{% else %}
					<form action="{% url 'add-student' %}" method="POST" name="Input">
						{% csrf_token %}
						<input type="text" name="name" id="add-student" placeholder="Add student account">
					</form>
				{% endif %}
				<p class="codrops-header__tagline"></a></p>
				<div>
					<a href="{% url 'all-students_' %}" style="color: #ffffff; padding-left: 10px; margin-top: 20px">Normal view</a>
				</div>
			</header>

			<!-- <section class="content"> -->
			{% block bodycontent %}
			  
			{% endblock bodycontent %}
			
			
			<section>

			<div class="search search_student">
				<button id="btn-search-close" class="btn btn--search-close" aria-label="Close search form"><svg class="icon icon--cross"><use xlink:href="#icon-cross"></use></svg></button>
				
				<form class="search__form" method="POST" action="{% url 'search-student' %}">
					{% csrf_token %}
					<input class="search__input" name="name" type="search" placeholder="Fiona" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" />
					<span class="search__info">Hit enter to search or ESC to close</span>
				</form>

				<div class="search__related">
					<div class="search__suggestion">
						<h3>May We Suggest?</h3>
						<p>Student name</p>
					</div>
				</div>
			</div>
			
		</main>
		
		<link href="https://fonts.googleapis.com/css?family=Be+Vietnam&display=swap" rel="stylesheet">
		<script src='http://code.jquery.com/jquery-latest.js'></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.bundle.js"></script>
		<script src="{% static 'dashboard/js/main.js' %}"></script>

		<!-- jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<!-- Latest compiled JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
		<script src="{% static 'dashboard/js/demo1.js' %}"></script>
		<script src="{% static 'dashboard/js/anime.min.js' %}"></script>
		<script src="{% static 'dashboard/js/main.js' %}"></script>
		<script>
		(function() {
			[].slice.call(document.querySelectorAll('.grid--effect-vega > .grid__item')).forEach(function(stackEl) {
				new VegaFx(stackEl);
			});
			[].slice.call(document.querySelectorAll('.grid--effect-castor > .grid__item')).forEach(function(stackEl) {
				new CastorFx(stackEl);
			});
			[].slice.call(document.querySelectorAll('.grid--effect-hamal > .grid__item')).forEach(function(stackEl) {
				new HamalFx(stackEl);
			});
			[].slice.call(document.querySelectorAll('.grid--effect-polaris > .grid__item')).forEach(function(stackEl) {
				new PolarisFx(stackEl);
			});
			[].slice.call(document.querySelectorAll('.grid--effect-alphard > .grid__item')).forEach(function(stackEl) {
				new AlphardFx(stackEl);
			});
			[].slice.call(document.querySelectorAll('.grid--effect-altair > .grid__item')).forEach(function(stackEl) {
				new AltairFx(stackEl);
			});
			[].slice.call(document.querySelectorAll('.grid--effect-rigel > .grid__item')).forEach(function(stackEl) {
				new RigelFx(stackEl);
			});
			[].slice.call(document.querySelectorAll('.grid--effect-canopus > .grid__item')).forEach(function(stackEl) {
				new CanopusFx(stackEl);
			});
			[].slice.call(document.querySelectorAll('.grid--effect-pollux > .grid__item')).forEach(function(stackEl) {
				new PolluxFx(stackEl);
			});
			[].slice.call(document.querySelectorAll('.grid--effect-deneb > .grid__item')).forEach(function(stackEl) {
				new DenebFx(stackEl);
			});
		})();
		</script>
		<script>
				function openCity(evt, cityName) {
				var i, tabcontent, tablinks;
				tabcontent = document.getElementsByClassName("tabcontent");
				for (i = 0; i < tabcontent.length; i++) {
				tabcontent[i].style.display = "none";
				}
				tablinks = document.getElementsByClassName("tablinks");
				for (i = 0; i < tablinks.length; i++) {
				tablinks[i].className = tablinks[i].className.replace(" active", "");
				}
				document.getElementById(cityName).style.display = "block";
				evt.currentTarget.className += " active";
				}
		</script>
	</body>
	
</html>
